@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
:root {
    --error-color: #dc3545;
    --success-color: #28a745;
}

* {
    padding: 0%;
    margin: 0%;
}

html {
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    padding: 0rem 1.25rem 0rem 1.25rem;
}

/*==========HEAD-TITLE==========*/

#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('../img/bg.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
}

#logo {
    padding: 2rem 0rem 2rem 0rem;
}

#logo {
    max-width: 60%;
    height: auto;
}

#form-and-content {
    display: flex;
    flex-direction: column;
}

#header-form {
    color: black;
}

/*==========HEAD-FORM==========*/

form {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18.75rem;
    align-self: center;
    padding: 1rem 0rem 1rem 0rem;
    list-style-type: none;
    margin-bottom: 2rem;
    transition: all 0.4s;
}

form #form-title {
    padding: 0.5rem;
    font-size: 1.325rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

form #form-title span {
    border-bottom: 2px black solid;
    padding-bottom: 0.325rem;
}

.form-fields, #select-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #AAA;
    border-radius: 5px;
    background-color: white;
    color: #696969;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 1.75rem;
    margin: 0.5em 0rem 0rem 0rem;
    padding-left: 6px;
}

.form-fields::placeholder {
    color: black;
}

#select-field {
    background-image: url("../img/dropdown-arrow.svg");
    background-position: center right;
    background-repeat: no-repeat;
    background-position-x: 95%;
    cursor: pointer;
}

.input-fields, #submit-field {
    display: flex;
    flex-direction: column;
}

.input-fields {
    width: 90%;
}

#submit-field {
    align-items: center;
}

.input-fields input:focus {
    outline: none;
}

.input-fields.error input {
    border-color: var(--error-color);
}

.input-fields.success input {
    border-color: var(--success-color);
}

.input-fields.error #select-field {
    border: 1px solid var(--error-color);
}

.input-fields.success #select-field {
    border: 1px solid var(--success-color);
}

.input-fields small, #submit-field small {
    font-size: 0.575rem;
    margin: 0.325rem 0rem 0.325rem 0rem;
}

.input-fields small {
    color: var(--error-color)
}

#submit-field small {
    color: var(--success-color)
}

#checkbox {
    margin-top: 0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#check-label {
    margin-top: 0.25rem;
    font-size: 0.725rem;
    color: #484848;
}

#submit {
    margin: 1rem 1rem 0rem 1rem;
    padding: 0.325rem 1.725rem 0.325rem 1.725rem;
    background-color: #0492c2;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.325rem;
    cursor: pointer;
}

#submit:disabled, #submit[disabled] {
    background-color: #cccccc;
    cursor: initial;
}

/*==========HEAD-CONTENT==========*/

#header-content {
    margin: 1rem 0rem 1rem 0rem;
}

#content-1 {
    font-size: 1.625rem;
    font-weight: bolder;
    margin-bottom: 1.5rem;
}

#content-2 {
    margin: 0.325rem;
    padding-left: 0.5rem;
    font-size: 1.125rem;
    border-left: 1px white solid;
}

#content-3 {
    margin-top: 1.5rem;
    font-size: 1.325rem;
    font-weight: bolder;
    margin-bottom: 1.5rem;
}

/*==========SECTION-TITLE==========*/

.section-title {
    font-size: 1.5rem;
    text-align: center;
    padding: 3.5rem 3.5rem 0rem 3.5rem;
    display: flex;
    flex-direction: column;
}

hr {
    margin-top: 1.325rem;
    border: none;
    background-color: #0492c2;
    height: 4px;
    width: 8rem;
    align-self: center;
}

/*==========EMBEDDED-VIDEO==========*/

#features {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 1rem; */
}

.youtube-player {
    width: 320px;
    height: 180px;
    margin: 2rem 0rem 2rem 0rem;
    border: none;
    align-self: center;
}

.youtube-player img {
    width: 320px;
    height: 180px;
}

#play-btn {
    border: none;
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    -webkit-box-shadow: 0px 0px 9px gray;
    -moz-box-shadow: 0px 0px 9px gray;
    box-shadow: 0px 0px 9px gray;
    font-family: Courier New;
    color: #0492c2;
    font-size: 40px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    top: -135px;
    left: 130px;
    cursor: pointer;
}

#play-btn:hover {
    background: rgb(242, 242, 242);
}

iframe {
    width: inherit;
    height: inherit;
}

#feature-bar {
    display: none;
}

/*==========ACCORDION==========*/

#curriculum {
    background-color: whitesmoke;
}

#accordion-snapshot {
    margin: 1.25rem 0rem 1.25rem 0rem;
    padding-bottom: 2rem;
    list-style-type: none;
}

.accordion {
    background-color: white;
    border-top: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: transparent;
    color: black;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    text-align: left;
    outline: none;
    font-size: 1rem;
    transition: 0.4s;
}

.accordion-active {
    border-bottom: 1px black solid;
}

.accordion:hover {
    background-color: rgb(218, 218, 218);
    border-bottom: transparent;
    box-shadow: 0px 2px 5px gray;
}

.accordion:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion-active:after {
    content: "\2212";
}

.panel {
    padding: 0 1rem;
    background-color: white;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;
}

.panel p {
    margin: 1rem;
}

/*==========OUTCOME==========*/

#outcomes {
    font-size: 1.125rem;
}

#outcome-content {
    margin: 1.825rem 0rem 1.825rem 0rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

#img-and-points {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#laptop {
    max-width: 80vw;
    height: auto;
    margin-top: 1rem;
    align-self: center;
}

#outcome-points {
    list-style-image: url('../img/black-tick.svg');
    margin: 2rem 0rem 1rem 2rem;
}

#outcome-points li {
    margin-bottom: 2rem;
}

/*==========SLIDER==========*/

#testimonials {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

.slideshow-container {
    align-self: center;
    margin: 2.225rem 0rem 2.25rem 0rem;
    display: flex;
    justify-content: space-around;
    line-height: 1.75rem;
}

.testimonial-role {
    margin-top: 2rem;
    font-weight: bolder;
}

.prev, .next {
    margin: 0rem 0rem 2rem 0rem;
    object-fit: contain;
    display: none;
    cursor: pointer;
    padding: 0.5rem;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    transform: rotateY(180deg);
}

.prev:hover, .next:hover {
    color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 0.825rem;
    width: 0.825rem;
    background-color: #cccccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin: 0rem 0.5rem 0rem 0.5rem;
}

.active, .dot:hover {
    background-color: #0492c2;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*==========ABOUT==========*/

#about {
    background-color: whitesmoke;
    text-align: center;
    line-height: 1.825rem;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

/*==========FOOTER==========*/

#footer-text {
    display: none;
}

.top-link {
    transition: all 0.25s ease-in-out;
    position: fixed;
    bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background-color: blue;
    cursor: initial;
    text-decoration: none;
    box-shadow: 0 -2px 15px 0 gray;
}

.top-link.show {
    visibility: visible;
    opacity: 1;
}

.top-link.hide {
    visibility: hidden;
    opacity: 0;
}

.top-link button {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.225rem;
    background-color: white;
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    color: blue;
}

@media all and (min-width: 768px) {
    html {
        font-size: 20px;
    }
    .container {
        padding: 0rem 2.5rem 0rem 2.5rem;
    }
    /*==========HEADER==========*/
    #logo {
        padding: 2rem 0rem 2rem 0rem;
        max-width: auto;
        height: auto;
    }
    #content-2 {
        width: 70%;
    }
    form {
        min-width: 20rem;
    }
    #checkbox {
        margin-left: -1rem;
    }
    #check-label {
        font-size: 0.625rem;
        color: #484848;
    }
    #submit {
        font-size: 1.125rem;
    }
    /*==========FEATURE==========*/
    #feature-bar {
        display: flex;
        justify-content: space-around;
        margin: 3rem 0rem 3rem 0rem;
    }
    .youtube-player, .youtube-player img {
        width: 426px;
        height: 240px;
    }
    #play-btn {
        top: -160px;
        left: 175px;
    }
    #curriculum-icon, #mentorship-icon, #assistance-icon {
        padding: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 1rem;
    }
    #curriculum-icon {
        background-color: gold;
    }
    #mentorship-icon {
        background-color: #0492c2;
    }
    #assistance-icon {
        background-color: teal;
    }
    .icon-text {
        width: 80%;
        text-align: center;
        font-weight: bold;
    }
    .feature-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    /*==========ACCORDION==========*/
    #accordion-snapshot {
        margin-top: 4rem;
        padding-bottom: 4rem;
    }
    /*==========OUTCOME==========*/
    #outcomes {
        font-size: 1rem;
    }
    #outcome-content {
        text-align: center;
    }
    /*==========SLIDER==========*/
    #testimonials {
        font-size: 1rem;
        margin-bottom: 0rem;
    }
    .testimonial-role {
        text-align: end;
    }
    .left-quotes, .right-quotes {
        font-size: 4rem;
        position: relative;
        top: 1.5rem;
    }
    .testimonial-text {
        margin: 0rem 3rem 0rem 3rem;
    }
    /*==========ABOUT==========*/
    #about {
        padding-top: 2rem;
        padding-bottom: 6rem;
    }
    /*==========FOOTER==========*/
    #footer-text {
        display: block;
        color: white;
        margin: 3rem;
    }
}

@media all and (min-width: 1280px) {
    .container {
        padding: 0rem 8rem 0rem 8rem;
    }
    #logo {
        position: relative;
        right: 5rem;
        padding: 2rem 0rem 2rem 0rem;
    }
    #form-and-content {
        flex-direction: row-reverse;
        justify-content: center;
        margin-right: 3rem;
    }
    form {
        min-width: 22rem;
    }
    #content-1 {
        font-size: 2.25rem;
    }
    #header-content {
        padding-top: 4rem;
    }
    #checkbox {
        margin-left: -2.5rem;
    }
    .section-title {
        font-size: 1.825rem;
    }
    .youtube-player, .youtube-player img {
        width: 640px;
        height: 360px;
    }
    #play-btn {
        top: -227px;
        left: 282px;
    }
    #outcome-container {
        font-size: 0.925rem;
    }
    #outcome-content {
        text-align: left;
        margin: 3rem 0rem 2rem 0rem;
    }
    #img-and-points {
        flex-direction: row-reverse;
        padding-left: 1.5rem;
        margin: 0rem;
    }
    #laptop {
        flex: 1;
        max-width: 30vw;
        margin-top: 0rem;
    }
    #outcome-points {
        flex: 1;
        margin: 0rem;
        padding-right: 2rem;
    }
    .prev, .next {
        display: initial;
    }
    .dot {
        display: none;
    }
    #about {
        margin-top: 2rem;
        padding-top: 4rem;
        padding-bottom: 8rem;
    }
}